{% extends 'hospital/admin_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="container input-group date">
      <strong>From : </strong><input type="date" name="fromDate" class="p-2"/>
      <strong>To : </strong><input type="date" name="toDate" class="p-2" />&nbsp
      <input type="submit" value="search" class="p-3  btn btn-primary">      
    </div>
  </form>
  <br><br>
  <form  action="/search-doctor" method="get" style="margin-left:70%;" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Doctor" name="query" id="query" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Doctors</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Name</th>
          <th>Profile Picture</th>
          <th>Sex</th>
          <th>Age</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Admitted Date</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for d in doctors %}
      <tr>

        <td> {{d.get_name}}</td>
        <td> <img src="{% static d.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{d.sex}}</td>
        <td>{{d.age}}</td>
        <td>{{d.mobile}}</td>
        <td>{{d.address}}</td>
        <td>{{d.department}}</td>
        <td>{{d.salary}}</td>
        <td>{{d.admitDate}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-doctor' d.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-doctor-from-hospital' d.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<script>
  {%if messages %}
  {%for message in messages%}
  alert('{{message}}');
  {%endfor%}
  {%endif%}
</script>
{% endblock content %}
