{% extends 'hospital/doctor_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
  <script src="{% static 'admin_revenu/cdn_query.js' %}"></script>
    <script>
      $(document).ready(function(){
        var expense;
        var total_expense=0
        $('td:nth-child(3)').each(function(){
          expense = $(this).html();
          total_expense += parseInt(expense);
          $('#total_expense').text(total_expense);
        });
      });
    </script>

    
</head>

<div class="container">
  <form method="post" action="{% url "admin-expense-generate-report" %}">
    {% csrf_token %}
    <div class="container input-group date">
      <strong>From : </strong><input type="date" name="fromDate" class="p-2"/>
      <strong>To : </strong><input type="date" name="toDate" class="p-2" />&nbsp
      <input type="submit" value="search" class="p-3  btn btn-primary">
      
    </div>
  </form>
  <br>&nbsp
  <form  action="/search-expense" method="get" style="margin-left:70%;" class="form-inline my-2 my-lg-0">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search Expense" name="query" id="query" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
  {% comment %} <button class="btn btn-secondary"><a href="/admin-expense-generate-report" style="color: whitesmoke;"><span>Report</span></a></button> {% endcomment %}
  <hr />
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Expenses</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Expense Type</th>
          <th>Amount</th>
          <th>Reason</th>
          <th>Expense Date</th>
        </tr>
      </thead>
      {% for d in expense %}
      <tr>
        <td> {{d.user.username}}</td>
        <td name="">{{d.type_expense}}</td>
        <td name="amount">{{d.amount}}</td>
        <td name="">{{d.description}}</td>
        <td>{{d.ExpenseDate}}</td>
        
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2">Total Expense</td>
        <td id="total_expense" name="total_expense" style="font-weight: bold;"><input type="text" name="total_expense" id="total_expense">{{amount}}</td>
        
      </tr>
    </table>
    
  </div>
</div>
<script>
  {%if messages %}
  {%for message in messages%}
  alert('{{message}}');
  {%endfor%}
  {%endif%}
</script>
{% endblock content %}
